body, * {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-gray{
    background-color: #f2f2f2;
}
.text-center {
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
}
.row {
    -ms-flex-wrap:wrap;
    display:-ms-flexbox;
    display:flex;
    /* display:-webkit-box; */
    flex-wrap:wrap;
    margin-left: 0;
    margin-right: 0;
}
.form-control {
    border: 0px;
    border-bottom: 2px solid gray;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}
.form-control:focus {
    outline: none;
    border-bottom: 2px solid #3266bc;
}
.float-right {
    float: right;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-all {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    position: relative;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    /* border: 1px solid #888; */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header,
.modal-footer {
    width: 80%;
    padding: 10px 16px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.modal-footer .row{
    justify-content: flex-end;
}
.modal-footer button {
    margin: 0 !important;
}
.modal-body {padding: 2px 16px;}
button {
    height: 40px;
    border-radius: 5px;
    border: 0 !important;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}
.bg-primary {
    background: #3266bc;
}
.bg-danger {
    background: rgb(196, 36, 36);
}
.text-danger {
    color: rgb(196, 36, 36);
}
table {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}
section {
    overflow-x: scroll;    
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}