body, * {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    background-color: #f3f5f6;
}

a {
    -webkit-transition: font-weight ease 0.5s, color ease 0.5s;
    transition: font-weight ease 0.5s, color ease 0.5s;
}

a:hover {
    text-decoration: none;
    font-weight: 400;
}

.nav-logo {
    width: 40px;
    height: auto;
}

.section-title {
    border-bottom: 1px solid lightgray;
    margin: 20px 0;
}

.edition-buttons .btn {
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: .9rem;
}

.page-link {
    font-size: .75rem;
    color: gray;
}
.page-link:hover {
    color: gray;
    font-weight: 400;
}

.daterangepicker {
    z-index: 2000 !important;
}

table.dataTable {
    border-collapse: collapse !important;
}

table tr.selected {
    background-color: #0055b4b3 !important;
}

table tr.selected a,
table tr.selected a:hover,
table tr.selected a:active,
table tr.selected a:focus {
    color: white !important;
}


/* table .sorting_1,
table .sorting_1:hover, */
table tr.selected .sorting_1,
table tr.selected:hover .sorting_1 {
    background-color: transparent !important;
}

table tr.filaInactiva,
table tr.filaInactiva > td:first-child input {
    color: #6c757d !important;
    cursor: not-allowed !important;
}

.input-group-append .input-group-text,
.input-group-append .btn {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

/* .daterangepicker > * {
    z-index: 2001 !important;
} */
/* 
.modal { overflow: visible; }
.modal-body { overflow-y: visible !important; } */