body, * {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.nav-logo {
    width: 40px;
    height: auto;
}

.section-title {
    border-bottom: 1px solid lightgray;
    margin: 20px 0;
}

.edition-buttons .btn {
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: .9rem;
}

.page-link {
    font-size: .75rem;
    color: gray;
}
.page-link:hover {
    color: gray;
    font-weight: 400;
}

.daterangepicker {
    z-index: 2000 !important;
}

/* .daterangepicker > * {
    z-index: 2001 !important;
} */
/* 
.modal { overflow: visible; }
.modal-body { overflow-y: visible !important; } */