@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

body, * {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    background-color: #f3f5f6;
}

a {
    -webkit-transition: font-weight ease 0.5s, color ease 0.5s;
    transition: font-weight ease 0.5s, color ease 0.5s;
}

.form-control::placeholder {
    color: #cdcdcd;
} 

a:hover {
    text-decoration: none;
    font-weight: 400;
}

.nav-logo {
    width: 40px;
    height: auto;
}

.section-title {
    border-bottom: 1px solid lightgray;
    margin: 20px 0;
}

.edition-buttons .btn {
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: .9rem;
}

.page-link {
    font-size: .75rem;
    color: gray;
}
.page-link:hover {
    color: gray;
    font-weight: 400;
}

.daterangepicker {
    z-index: 2000 !important;
}

table.dataTable {
    border-collapse: collapse !important;
}

table tr.selected {
    background-color: #0055b4b3 !important;
    color: white !important;
}

table tr.selected a,
table tr.selected a:hover,
table tr.selected a:active,
table tr.selected a:focus {
    color: white !important;
}


/* table .sorting_1,
table .sorting_1:hover, */
table tr.selected .sorting_1,
table tr.selected:hover .sorting_1 {
    background-color: transparent !important;
}

table tr.filaInactiva,
table tr.filaInactiva > td:first-child input {
    color: #6c757d !important;
    cursor: not-allowed !important;
}

div.dataTables_wrapper div.dataTables_filter label {
    position: relative;
    right: 0;
    width: 100%;
}

div.dataTables_wrapper div.dataTables_length label {
    display: inline-flex;
}    

div.dataTables_wrapper div.dataTables_length select {
    margin: 0 10px;
    position: relative;
    top: -3px;
}  

div.dataTables_wrapper div.dataTables_filter input {
    display: block;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

.input-group-append .input-group-text,
.input-group-append .btn {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

#caracteristicasModelo table th {
    font-weight: 500;
}

#filtrosTabla {
    background-color: #e7e9e9;
}
#filtrosTabla .btn-group {
    margin-right: 5px;
}
#filtrosTabla .dropdown-item {
    cursor: pointer;
}
#filtrosTabla .dropdown-item:hover {
    background-color: #eeeeee;
}

/* .daterangepicker > * {
    z-index: 2001 !important;
} */
/* 
.modal { overflow: visible; }
.modal-body { overflow-y: visible !important; } */